{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {},
    },
  },
  "rules": {
    "react/display-name": 0,
  }
}
